# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,java
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,java

### [★ 중요 추가] 내 프로젝트 맞춤형 차단 설정 ###
# 어느 폴더 깊숙이 있든 bin과 .vscode 폴더 전체를 무시합니다.
**/bin/
**/.vscode/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

### VisualStudioCode ###
# 기존 .vscode/* 와 .bin 설정을 상단의 **/ 기호가 더 완벽하게 대체하므로 그대로 두거나 참고용으로 유지합니다.
.history/
*.vsix

### VisualStudioCode Patch ###
.history
.ionide

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk