# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,java
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,java

**/bin/
**/.vscode/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

### VisualStudioCode ###
.history/
*.vsix

### VisualStudioCode Patch ###
.history
.ionide

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk